---
---
<div class =" p-10 absolute top-0 right-0">
    <ul class=" text-gray-50 container mx-auto grid gap-4 md:grid-cols-3 md:grid-cols-2">
        <li class=" block text-center text-xl ring-4 ring-gray-800 bg-blue-200 bg-opacity-50 ring-opacity-25 w-20 h-8 rounded-sm"><a href="/">Home</a></li>
        <li class=" block text-center text-xl ring-4 ring-gray-800 bg-blue-200 bg-opacity-50 ring-opacity-25 w-20 h-8 rounded-sm"><a href="/contact-form/">Contact</a></li>
        <li class=" block text-center text-xl ring-4 ring-gray-800 bg-blue-200 bg-opacity-50 ring-opacity-25 w-20 h-8 rounded-sm"><a href="/cart/">Cart</a></li>
    </ul>
</div>