---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const websiteName = 'Cart';
---
<Header />

<main class = ''>
    <head>
        <meta name = "viewport" content = "width = device-width, initial-scale = 1">
        <title>Shopping Cart</title>
    </head>
    <body>
        
        <div class = 'min-h-80' id="cart-container"></div>

    </body>
    <div class="border m-10 bg-gray-300">
    
        <h1 class="text-bold text-2xl">Merlyn's Magic: The Gathering Shop Rules: </h1>

        <ul class="list-disc m-4">
            <li>We will not be able to pull your cards right away. When your cards have been pulled, we will e-mail or call you, and you can pick up your cards at the counter!</li>

            <li>Due to wild fluctuations in prices, we do not fill orders of more than 4 of any particular card. This site is for our customers. We only do local in-store sales. Thank you. </li>

            <li>PRICE IS SUBJECT TO CHANGE AT TIME OF PICK-UP. MINIMUM PRICING IS $0.19 FOR COMMONS, $0.39 FOR UNCOMMONS, AND $0.79 FOR RARES.</li>

            <li>You may order up to 4 copies of any card (if available) and no more than 10 unique cards total at a time. </li>

            <li>If you cannot find a particular rare, remember to check out our singles cases in store. The turnover on case singles is too fast to keep them listed on the website, and newer rares usually go to the cases rather than online. </li>

        </ul>
    </div>
    <Footer />
    <script> 
		import "../scripts/Cart.js";
	</script>
</main>
