---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const websiteName = 'Cart';
---
<Header />

<main class = ''>
    <head>
        <meta name = "viewport" content = "width = device-width, initial-scale = 1">
        <title>Shopping Cart</title>
    </head>
    <body>
        <h1>Shopping Cart</h1>
        <div class = 'min-h-80' id="cart-container"></div>
    </body>
    <Footer />
    <script> 
		import "../scripts/Cart.js";
	</script>
</main>
