---
import Navigation from '../components/Navigation.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const websiteName = 'Contact-Form';
---

<html lang="en">

    <body>
        <Header />
        <div class = "container">
            <form action ="POST" data-netlify="true">
                <div class = "mb-1 p-4">
                    <label for = "name" class = "block mb-2 font-medium text-bold text-xl text-black">Name:</label>
                    <input type = "text" class = "bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-300 dark:placeholder-gray-400 text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" id = "name" name = "name">
                </div>
                <div class = "mb-1 p-4">
                    <label for = "email" class= "block mb-2 font-medium text-bold text-xl text-black">Email:</label>
                    <input type = "text" class = "bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-300 dark:placeholder-gray-400 text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" id = "email" name = "email">
                </div>
                <div class = "mb-1 p-4">
                    <label for = "phone" class= "block mb-2 font-medium text-bold text-xl text-black">Phone:</label>
                    <input type = "text" class = "bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-300 dark:placeholder-gray-400 text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" id = "phone" name = "phone">
                </div>
                <div class = "p-4 pb-4">
                    <label for = "message" class="block mb-2 font-medium text-bold text-xl text-black">Message:</label>
                    <textarea rows="12" class = "block p-2.5 w-full text-sm bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:border-gray-600 placeholder-gray-300 text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write your message here..." id = "message" name = "message"></textarea>
                </div>
                <!-- This is for captcha -->
                <div class="field">
                    <div data-netlify-recaptcha="true"></div>
                </div>
                <button type = "submit" class = " text-white bg-gradient-to-r from-cyan-500 to-green-800 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-8 py-2.5 text-center me-2 mb-2 m-4">Submit</button>
            </form>
        </div>
        <div class="border m-10 bg-gray-300">
            <h1 class="text-bold text-2xl">Merlyn's Magic: The Gathering Shop Rules: </h1>

            <ul class="list-disc m-4">
                <li>We will not be able to pull your cards right away. When your cards have been pulled, we will e-mail or call you, and you can pick up your cards at the counter!</li>

                <li>Due to wild fluctuations in prices, we do not fill orders of more than 4 of any particular card. This site is for our customers. We only do local in-store sales. Thank you. </li>

                <li>PRICE IS SUBJECT TO CHANGE AT TIME OF PICK-UP. MINIMUM PRICING IS $0.19 FOR COMMONS, $0.39 FOR UNCOMMONS, AND $0.79 FOR RARES.</li>

                <li>You may order up to 4 copies of any card (if available) and no more than 10 unique cards total at a time. </li>

                <li>If you cannot find a particular rare, remember to check out our singles cases in store. The turnover on case singles is too fast to keep them listed on the website, and newer rares usually go to the cases rather than online. </li>

            </ul>
        </div>
    </body>

    <script> 
		import "../scripts/formHelper.js";
        import { autofill } from "../scripts/formHelper.js";
        
        // Autofill the form if the user clicked on the checkout button
        window.onload = () => {
            if (sessionStorage.getItem('checkoutClicked') == 'true') {
                autofill();
            };
            sessionStorage.setItem('checkoutClicked', 'false');
        }
	</script>

    <Footer />
</html>