---
import Navigation from '../components/Navigation.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const websiteName = 'Contact-Form';
---

<html lang="en">

    <body>
        
        <Header />
        <div class = "container">
            <form action ="POST" data-netlify="true">
                <div class = "mb-1 p-4">
                    <label for = "name" class = "block mb-2 text-sm font-medium text-gray-900 text-black">Name:</label>
                    <input type = "text" class = "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-gray-50 dark:border-gray-300 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id = "name" name = "name">
                </div>
                <div class = "mb-1 p-4">
                    <label for = "email" class= "block mb-2 text-sm font-medium text-gray-900 text-black">Email:</label>
                    <input type = "text" class = "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-gray-50 dark:border-gray-300 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id = "email" name = "email">
                </div>
                <div class = "mb-1 p-4">
                    <label for = "phone" class= "block mb-2 text-sm font-medium text-gray-900 text-black">Phone:</label>
                    <input type = "text" class = "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-gray-50 dark:border-gray-300 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id = "phone" name = "phone">
                </div>
                <div class = "p-4 pb-4">
                    <label for = "message" class="block mb-2 text-sm font-medium text-gray-900 text-black">Message:</label>
                    <textarea rows="12" class = "block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 bg-gray-50 dark:border-gray-600 placeholder-gray-300 text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write your message here..." id = "message" name = "message"></textarea>
                </div>
                <!-- This is for captcha -->
                <div class="field">
                    <div data-netlify-recaptcha="true"></div>
                </div>
                <button type = "submit" class = " text-white bg-gradient-to-r from-cyan-500 to-green-800 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-8 py-2.5 text-center me-2 mb-2 m-4">Submit</button>
            </form>
        </div>
    </body>

    <script> 
		import "../scripts/formHelper.js";
        import { autofill } from "../scripts/formHelper.js";
        
        // Autofill the form if the user clicked on the checkout button
        window.onload = () => {
            if (sessionStorage.getItem('checkoutClicked') == 'true') {
                autofill();
            };
            sessionStorage.setItem('checkoutClicked', 'false');
        }
	</script>

    <Footer />
</html>