---
import Navigation from "./Navigation.astro";
import { Image } from 'astro:assets';
---

<header class = 'bg-green-900'>
    <div class ="flex justify-start">
        <img src="https://images.squarespace-cdn.com/content/v1/615c96de44cb036b04b47f25/57ead580-4847-4aad-826d-3cf8f50a0d57/merlyns_transparent.png?format=1500w" alt="Merlyn's Logo" width="200" height="200" />
    </div>
    <h1> <Navigation /> </h1> 
</header>