---
import Navigation from "./Navigation.astro";
import { Image } from 'astro:assets';
import merlynslogo from '/workspaces/Magic-Queries-Main-Repo/src/images/merlyns_transparent.png';
---

<header class = 'dark:bg-green-900'>
    <div class ="flex justify-start">
        <Image src={merlynslogo} alt="Merylns Logo" width="200" height="200" />
    </div>
    <h1> <Navigation /> </h1> 
</header>