---
import { Image } from 'astro:assets';
import cartIcon from '/workspaces/Magic-Queries-Main-Repo/public/images/cart.png';
import home from '/workspaces/Magic-Queries-Main-Repo/public/images/home.png';
import contact_page from '/workspaces/Magic-Queries-Main-Repo/public/images/contact_page.png';
---
<div class =" p-10 absolute top-0 right-0">
    <ul class=" text-gray-50 container mx-auto grid gap-4 md:grid-cols-3 md:grid-cols-2">
        <li class="">
            <a href="/">
                <Image src={home} alt="Home" width="40" height="40" />
            </a>
        </li>
        <li class="">
            <a href="/contact-form/">
                <Image src={contact_page} alt="Contact" width="40" height="40" />
            </a>
        </li>
        <li class="">
            <a href="/cart/">
                <Image src={cartIcon} alt="Cart" width="40" height="40" />
            </a>
        </li>
    </ul>
</div>